# ── Database (PostgreSQL Connection URL) ──
# Replace with your local database or cloud database provider connection string
DATABASE_URL="postgresql://username:password@localhost:5432/hiretrack?sslmode=require"
DIRECT_URL="postgresql://username:password@localhost:5432/hiretrack?sslmode=require"

# ── Auth.js ──
# Run `npx auth secret` or `openssl rand -base64 33` to generate a secure secret keys value
AUTH_SECRET="dummy-32-character-secret-key-for-auth"

# ── App URLs ──
NEXT_PUBLIC_APP_URL="http://localhost:port"
